@model int

@{
    ViewBag.Title = "Nested Dependency";
}

<div class="jumbotron">
  <p>
    This page was served by a controller with a single dependency, which in turn relied on another. The former's dependency was resolved by a previous registration.
  </p>
  <p>
    According to our records, you've become user @(Model).
  </p>
</div>