@model bool
@{
    ViewBag.Title = "Woops.";
}

<div class="jumbotron">
  <p>
    Oh dear, this page rendered? It definitely should not have. This dependency wasn't even registered.
  </p>
  <p>
    Look, let's all just pretend you never saw this. I guess you won a boolean: @Model
  </p>
</div>