@{
    ViewBag.Title = "Home Page / No Dependencies.";
}

<div class="jumbotron">
    <p>
        This page was served by a controller with no dependencies.
    </p>
    <p>
        Not much to see here.
    </p>
</div>