@model int

@{
    ViewBag.Title = "Single Dependency";
}

<div class="jumbotron">
    <p>
        This page was served by a controller with a single, non-complex dependency.
    </p>
    <p>
        Welcome, user @(Model).
    </p>
</div>